---
http_interactions:
- request:
    method: get
    uri: https://dataservice.accuweather.com/currentconditions/v1/293006/historical/24?apikey=<ACCUWEATHER_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '20'
      Akamai-Grn:
      - 0.4869dc17.1656863351.70512869
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2022-07-03T17:57:00+03:00","EpochTime":1656860220,"WeatherText":"Sunny","WeatherIcon":1,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":28.3,"Unit":"C","UnitType":17},"Imperial":{"Value":83.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/kaluga/293006/current-weather/293006?lang=en-us","Link":"http://www.accuweather.com/en/ru/kaluga/293006/current-weather/293006?lang=en-us"},{"LocalObservationDateTime":"2022-07-03T17:04:00+03:00","EpochTime":1656857040,"WeatherText":"Sunny","WeatherIcon":1,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":true,"Temperature":{"Metric":{"Value":28.3,"Unit":"C","UnitType":17},"Imperial":{"Value":83.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/ru/kaluga/293006/current-weather/293006?lang=en-us","Link":"http://www.a[...]
